# Ignore figure-latex folder
Project-6-Template_files/figur# Ignore figure-latex folder
Project-6-Template_files/figure-latex/

# Ignore RStudio specific files
.Rhistory
.Rproj.user

# Ignore output files
# Ignore figure-latex folder
Project-6-Template_files/figure-latex/

# Ignore RStudio specific files
.Rhistory
.Rproj.user

# Ignore output files
*.html
*.pdf

# Ignore the Data folder
Data/
